@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Users";
}

<h1>All Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>User Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>